@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  font-family: "Kosugi Maru", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url("https://github.com/SANDAY-JS/MCU-Quiz-App/blob/main/Quiz%20App/images/doctor-strange.jpg?raw=true");
  background-color: #000;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#above-container {
  display: contents;
  width: 600px;
}

.page-title {
  position: absolute;
  top: 18vh;
  text-align: center;
  color: #000000;
  font-size: 2em;
  font-weight: bold;
  font-family: sans-serif;
  width: 100vw;
  z-index: -10;
}

.quiz-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75vw;
  height: auto;
  padding: 1rem 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.8)), to(rgba(251, 251, 251, 0.5)));
  background: linear-gradient(450deg, rgba(255, 255, 255, 0.8), rgba(251, 251, 251, 0.5));
  -webkit-backdrop-filter: 100px;
          backdrop-filter: 100px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 5px 10px #8f8585;
          box-shadow: 5px 5px 10px #8f8585;
}

h2.quiz-title {
  color: #000000;
  text-align: center;
  font-size: 1.25rem;
  font-family: sans-serif;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

h2 ~ ul {
  margin-left: 2rem;
  margin-top: 0.8rem;
}

ul li {
  margin: 0.25em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label {
  width: 100%;
  color: #000;
  font-weight: 530;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.05;
}

input[type="radio"] {
  position: relative;
  top: -2px;
  width: 20px;
  height: 1em;
}

button {
  width: 100%;
  background: transparent;
  padding: 0.5em;
  padding-bottom: 0;
  font-size: 1.2em;
  font-weight: bold;
  color: #7c0c0c;
  outline: none;
  border: none;
  cursor: pointer;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

#start-btn {
  position: absolute;
  bottom: 18vh;
  background: #fafafaee;
  color: black;
  width: 50vw;
  padding: 0.5em;
  font-size: 1.2em;
  font-weight: bolder;
  font-family: sans-serif;
  outline: none;
  border-radius: 4px;
}

button.btn1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: unset;
  margin-top: 1rem;
}

button.btn1.challenge-again {
  margin-top: 0;
}

button.btn2 {
  display: none;
  color: #009d00;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.result-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.result-box .question-number-and-tf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.result-box .question-number-and-tf i {
  margin-right: 0.75rem;
  font-size: larger;
}

.result-box .question-number-and-tf i.far.fa-circle {
  color: #009d00;
}

.result-box .question-number-and-tf i.fas.fa-times {
  color: #d4001c;
}

.result-box .review-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result-box .review-contents > div {
  width: 90%;
  margin: 0 auto;
  line-height: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 2.5rem;
}

.result-box .review-contents > div:last-child {
  padding-bottom: 0;
}

.result-box .review-contents > div p.review-kind {
  font-weight: bold;
  margin-bottom: 0.5rem;
}
/*# sourceMappingURL=style.css.map */
